@import '../partials/vitals';
.header-top-menu{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  // HIDE MENU IN SMALLER SCREENS
  @include respond-to(medium-screens) {
    display: none;
  }
}

.header-top-menu__item {
  list-style: none;
  text-align: center;
}


a {
  text-decoration: none;
  color: $gray-shade-3;

  :active {
    color: $post-color;
  }

  :hover{
    color: $post-color;
  }

  &[tabindex]:focus {
  }

  &.header-top-menu__link{
    &.header-top-menu__link--active{
      color: $gray-shade-1;
    }
    &.header-top-menu__link--disabled{
      cursor: not-allowed;
    }
  }
}

