@import 'variables';
// @use 'sass:math';

@function pxToRem($pxValue) {
  // @return math.div($pxValue, $root-font-size) * 1rem;
  @return #{(strip-unit($pxValue) / strip-unit($root-font-size))}rem;
}

@function toRem($value) {
  $remValue: #{(strip-unit($value) / strip-unit($root-font-size))}rem;
  @return $remValue;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
