@use "sass:meta";
@import "partials/vitals";
@import "components";

:root{
  font-family: $font-family-main;
  font-size: $root-font-size;
  color: $gray-shade-1;
  box-sizing: border-box;
  @include font-smoothing(on);

  // CSS CUSTOM PROPERTIES
//   --post-base-color: #{meta.inspect($post-color)};
//   --post-color-pale: #{meta.inspect($post-color--pale)};
//   --post-color-white: #{meta.inspect($white)};
//   --post-color-gray-shade: #{meta.inspect($gray-shade-1)};
}

.emphasized{
  font-weight: 700;
  color: $positive-emphasis;
}

.food-pairing{
  display: block;
}

.django{
  max-width: 20px;
  max-height: 20px;
  // border: solid 1px #c1d2c1;
  border: solid 1px rgba(#c1d2c1, 0.71);
  // box-shadow: 0 0 1px 1px rgba(100, 100, 100, 0.35);
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba($white, 0.75);
  padding: 4px;
  transition: all 0.5s;
  svg {
    opacity: 0;
  }
  &:hover,
  &.checked {
    border: solid 1px rgba(155, 223, 155, 0.71);
    box-shadow: none;
    background: rgba(191, 255, 191, 0.53);
    // box-shadow: 0 0 1px 1px rgba(155, 223, 155, 0.75);
  }
  &.checked {
    svg {
      opacity: 1;
    }
  }
}

.selected-items {
  /*
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  */
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(6, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(120px, 180px));
  padding: 1rem;
  background: white;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.18);
  border-bottom: solid 1px rgba(0, 0, 0, 0.18);
  margin-bottom: 0;

  .selected-items__label{
    position: relative;
    display: inline-flex;
    margin-right: 3px;
    margin-bottom: 3px;
    align-items: center;
    padding: 8px 10px;
    background: white;
    font-size: 0.65rem;
    font-weight: 400;
    color: #032003;
    min-height: 40px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    // box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.18);
    .selected-items__remove{
      position: absolute;
      right: 0;
      top: 0;
      display: inline-block;
      font-size: 0.85rem;
      cursor: pointer;
      color: red;
      padding: 2px;
    }
  }
}

.suggested-beers__beer{
  &:hover {
    .django{
      border: solid 1px rgba(155, 223, 155, 0.71);
      box-shadow: none;
      background: rgba(191, 255, 191, 0.53);
      // box-shadow: 0 0 1px 1px rgba(155, 223, 155, 0.75);

      &:hover,
      &.checked {
      }
    }
  }
  &.suggested-beers__beer--active{
    .django{
      border: solid 1px rgba(155, 223, 155, 0.71);
      box-shadow: none;
      background: rgba(191, 255, 191, 0.53);
      // box-shadow: 0 0 1px 1px rgba(155, 223, 155, 0.75);
      svg{
        // opacity: 1;
      }
    }

  }
}
